<p>PSM has only been around since 1998 but its working experience with the masses goes back more than twenty years. Over the years, the party’s three main front organisations, Alaigal, Community Development Centre (CDC) and Suara Warga Pertiwi (SWP), established more than a hundred sub-fronts. PSM’s strength lies in its work done with the masses especially plantation workers, the urban poor, industrial workers and peasants. The party also collaborates with progressive student movements.</p>
<p>This website is maintained by PSM members.</p>


