<!DOCTYPE html>
<html>
  <head>
    <title>BR1M Check</title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <a href="/">Home</a> | <a href="/check">Check</a> | <a href="/about">About</a>
    <%= yield %>
  </body>
</html>
